
{% extends 'layout.html' %}
{% block body %}

<div class="d-flex justify-content-center align-items-center">
	<div class="mt-3 col-11 col-lg-7">
		<div class="card card-body">
			<form action="/update/{{contact.0}}" method="POST">
				<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
				<input type="text" name="name" placeholder="fullname" value="{{contact.1}}" class="form-control mb-2">
				<input type="tel" name="phone" placeholder="4444-4444444" value="{{contact.2}}" class="form-control mb-2">
				<input type="email" name="email" placeholder="name@example.com" value="{{contact.3}}" class="form-control mb-2">
				<div class="d-flex">
					<div class="col-6 pe-1 d-grid">
						<button type="submit" class="btn btn-primary btn-sm"> update </button>
					</div>
					<div class="col-6 ps-1 d-grid">
						<a href="/" class="btn btn-secondary btn-sm" role="button"> atras </a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}