<!DOCTYPE html>
<html lang="en">
<head>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	
	<title>Flask_Example</title>
	<link type="image/png" href="{{url_for('static',filename='img/logo-flask.svg')}}" rel="icon">

	<!-- styles -->
	<link type="text/css" href="{{url_for('static',filename='css/bootstrap-5.0.0.css')}}" rel="stylesheet">

	<!-- scripts -->
	<script type="text/javascript" src="{{url_for('static',filename='js/jquery-3.5.1.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/bootstrap-5.bundle.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/notifications.js')}}"></script>

</head>
<body>

	<!-- Image and text -->
	<nav class="navbar navbar-light bg-dark justify-content-center">
	  	<a class="navbar-brand text-white" href="/">
	    	<!--img src="{{url_for('static',filename='img/logo-flask.svg')}}" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy"-->
	    	Contacts App
	  	</a>
	</nav>

	<div class="container">
		{% block body %}
		{% endblock %}
	</div>

</body>
</html>
