{% extends 'index.html' %}
{% block table %}

<table class="table table-bordered table-sm align-middle">
	<caption>List of contacts</caption>
	<thead class="table-dark text-center">
		<tr>
			<th scope="col"> Fullname </th>
			<th scope="col"> Phone </th>
			<th scope="col"> Email </th>
			<th scope="col"> Actiones </th>
		</tr>
	</thead>
	<tbody>
		{% if contacts %}
		{% for contact in contacts %}
			<tr>
				<td> {{ contact.1 }} </td>
				<td> {{ contact.2 }} </td>
				<td> {{ contact.3 }} </td>
				<td class="text-center">
					<a href="/{{contact.0}}" class="btn btn-primary btn-sm py-1">Edit</a>
					<a href="javascript:remove({{contact.0}})" class="btn btn-danger btn-sm py-1">Delete</a>
				</td>
			</tr>
		{% endfor %}
		{% else %}
			<tr>
				<td colspan="4">
			  		<div class="alert alert-info p-2 m-1"> No registered contacts </div>
				</td>
			</tr>
		{% endif %}
	</tbody>
</table>

{% endblock %}